openapi: 3.0.3
info:
  title: CAB System API
  version: "1.0.0"
  description: >
    Đặc tả OpenAPI cho toàn bộ 23 yêu cầu chức năng (FR) của dự án CAB System.
    Mỗi operation gắn thêm trường mở rộng `x-fr` để truy vết ngược lại FR trong
    tài liệu phân tích BA. Client luôn gọi qua API Gateway; các service phía sau
    (customer, driver, trip, dispatch, location, pricing, payment, notification,
    admin) không được gọi trực tiếp từ bên ngoài.
servers:
  - url: https://api.cabsystem.com/api/v1
    description: Production (qua API Gateway)
  - url: http://localhost:3000/api/v1
    description: Local dev (qua API Gateway)

tags:
  - { name: Customer, description: "Customer Service — FR-01" }
  - { name: Driver, description: "Driver Service — FR-02, FR-11" }
  - { name: Trip, description: "Trip Service — FR-03, FR-04, FR-05, FR-13" }
  - { name: Dispatch, description: "Dispatch Service — FR-06..FR-09, FR-12" }
  - { name: Location, description: "Location Service — FR-10" }
  - { name: Pricing, description: "Pricing Service — FR-14" }
  - { name: Payment, description: "Payment Service — FR-15, FR-16" }
  - { name: Notification, description: "Notification Service — FR-17..FR-19" }
  - { name: Rating, description: "Đánh giá tài xế — phần cuối FR-05" }
  - { name: Admin, description: "Admin/Reporting Service — FR-20..FR-23" }

security:
  - bearerAuth: []

paths:
  # ============================= CUSTOMER SERVICE =============================
  /customers/register:
    post:
      tags: [Customer]
      summary: Đăng ký tài khoản khách hàng
      x-fr: FR-01
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CustomerRegisterRequest" }
      responses:
        "201": { description: Đăng ký thành công, content: { application/json: { schema: { $ref: "#/components/schemas/AuthResponse" } } } }
        "409": { $ref: "#/components/responses/ConflictError" }
        "400": { $ref: "#/components/responses/ValidationError" }

  /customers/login:
    post:
      tags: [Customer]
      summary: Đăng nhập khách hàng, trả JWT
      x-fr: FR-01
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/LoginRequest" }
      responses:
        "200": { description: Đăng nhập thành công, content: { application/json: { schema: { $ref: "#/components/schemas/AuthResponse" } } } }
        "401": { $ref: "#/components/responses/UnauthorizedError" }

  /customers/me:
    get:
      tags: [Customer]
      summary: Xem thông tin cá nhân hiện tại
      x-fr: FR-01
      responses:
        "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/CustomerEnvelope" } } } }
        "401": { $ref: "#/components/responses/UnauthorizedError" }
    put:
      tags: [Customer]
      summary: Cập nhật thông tin cá nhân
      x-fr: FR-01
      requestBody:
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CustomerUpdateRequest" }
      responses:
        "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/CustomerEnvelope" } } } }
        "401": { $ref: "#/components/responses/UnauthorizedError" }

  /customers/{id}:
    get:
      tags: [Customer]
      summary: Tra cứu hồ sơ khách hàng (nội bộ)
      x-fr: FR-01
      parameters: [{ $ref: "#/components/parameters/IdParam" }]
      responses:
        "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/CustomerEnvelope" } } } }
        "403": { $ref: "#/components/responses/ForbiddenError" }
        "404": { $ref: "#/components/responses/NotFoundError" }

  # ============================== DRIVER SERVICE ===============================
  /drivers/register:
    post:
      tags: [Driver]
      summary: Tài xế tự đăng ký
      x-fr: FR-02
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/DriverRegisterRequest" }
      responses:
        "201": { description: Đăng ký thành công, content: { application/json: { schema: { $ref: "#/components/schemas/DriverAuthResponse" } } } }
        "409": { $ref: "#/components/responses/ConflictError" }

  /drivers:
    post:
      tags: [Driver]
      summary: Nhân viên vận hành tạo tài khoản tài xế
      x-fr: FR-02
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/DriverRegisterRequest" }
      responses:
        "201": { description: Tạo thành công, content: { application/json: { schema: { $ref: "#/components/schemas/DriverEnvelope" } } } }
        "403": { $ref: "#/components/responses/ForbiddenError" }
    get:
      tags: [Driver]
      summary: Danh sách tài xế theo trạng thái (service-to-service / Dispatch dùng)
      x-fr: FR-06
      parameters:
        - name: status
          in: query
          schema: { type: string, enum: [offline, available, busy] }
      responses:
        "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/DriverListEnvelope" } } } }

  /drivers/login:
    post:
      tags: [Driver]
      summary: Đăng nhập tài xế
      x-fr: FR-02
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/LoginRequest" }
      responses:
        "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/DriverAuthResponse" } } } }
        "401": { $ref: "#/components/responses/UnauthorizedError" }

  /drivers/me:
    get:
      tags: [Driver]
      summary: Xem hồ sơ tài xế hiện tại
      x-fr: FR-02
      responses:
        "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/DriverEnvelope" } } } }
    put:
      tags: [Driver]
      summary: Cập nhật hồ sơ cá nhân
      x-fr: FR-02
      requestBody:
        content:
          application/json:
            schema: { $ref: "#/components/schemas/DriverUpdateRequest" }
      responses:
        "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/DriverEnvelope" } } } }

  /drivers/me/vehicle:
    put:
      tags: [Driver]
      summary: Cập nhật thông tin phương tiện
      x-fr: FR-02
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/Vehicle" }
      responses:
        "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/DriverEnvelope" } } } }
        "400": { $ref: "#/components/responses/ValidationError" }

  /drivers/me/status:
    patch:
      tags: [Driver]
      summary: Chuyển trạng thái sẵn sàng nhận chuyến
      x-fr: FR-11
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [status]
              properties:
                status: { type: string, enum: [offline, available, busy] }
      responses:
        "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/DriverEnvelope" } } } }
        "400": { $ref: "#/components/responses/ValidationError" }

  /drivers/{id}:
    get:
      tags: [Driver]
      summary: Tra cứu hồ sơ tài xế (nội bộ)
      x-fr: FR-02
      parameters: [{ $ref: "#/components/parameters/IdParam" }]
      responses:
        "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/DriverEnvelope" } } } }
        "404": { $ref: "#/components/responses/NotFoundError" }

  /drivers/{id}/ratings:
    get:
      tags: [Rating]
      summary: Điểm trung bình & lịch sử đánh giá của 1 tài xế
      x-fr: FR-05
      parameters: [{ $ref: "#/components/parameters/IdParam" }]
      responses:
        "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/RatingListEnvelope" } } } }

  # ================================ TRIP SERVICE ================================
  /trips:
    post:
      tags: [Trip]
      summary: Tạo yêu cầu đặt xe
      x-fr: FR-03
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/TripCreateRequest" }
      responses:
        "201": { description: Đã tạo yêu cầu, đang tìm tài xế, content: { application/json: { schema: { $ref: "#/components/schemas/TripEnvelope" } } } }
        "400": { $ref: "#/components/responses/ValidationError" }

  /trips/{id}:
    get:
      tags: [Trip]
      summary: Xem chi tiết & trạng thái hiện tại của 1 chuyến
      x-fr: FR-04
      parameters: [{ $ref: "#/components/parameters/IdParam" }]
      responses:
        "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/TripEnvelope" } } } }
        "404": { $ref: "#/components/responses/NotFoundError" }

  /trips/{id}/status:
    get:
      tags: [Trip]
      summary: Poll trạng thái chuyến (khuyến nghị WebSocket cho real-time)
      x-fr: FR-04
      parameters: [{ $ref: "#/components/parameters/IdParam" }]
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties: { data: { $ref: "#/components/schemas/TripStatus" } }
    patch:
      tags: [Trip]
      summary: Tài xế cập nhật trạng thái chuyến
      x-fr: FR-13
      parameters: [{ $ref: "#/components/parameters/IdParam" }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [status]
              properties:
                status: { $ref: "#/components/schemas/TripStatus" }
      responses:
        "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/TripEnvelope" } } } }
        "400": { $ref: "#/components/responses/ValidationError" }

  /trips/{id}/cancel:
    post:
      tags: [Trip]
      summary: Hủy chuyến
      x-fr: "chưa chốt chính sách — xem Mục 9 tài liệu BA"
      parameters: [{ $ref: "#/components/parameters/IdParam" }]
      responses:
        "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/TripEnvelope" } } } }
        "409": { description: Chuyến không ở trạng thái có thể hủy }

  /trips/{id}/rating:
    post:
      tags: [Rating]
      summary: Khách hàng đánh giá tài xế sau chuyến
      x-fr: FR-05
      parameters: [{ $ref: "#/components/parameters/IdParam" }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/RatingCreateRequest" }
      responses:
        "201": { description: Đã ghi nhận đánh giá, content: { application/json: { schema: { $ref: "#/components/schemas/RatingEnvelope" } } } }
        "409": { description: Chuyến chưa hoàn thành hoặc đã được đánh giá }

  /customers/me/trips:
    get:
      tags: [Trip]
      summary: Lịch sử chuyến của khách hàng
      x-fr: FR-05
      responses:
        "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/TripListEnvelope" } } } }

  /drivers/me/trips:
    get:
      tags: [Trip]
      summary: Lịch sử chuyến của tài xế
      x-fr: FR-13
      responses:
        "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/TripListEnvelope" } } } }

  # ============================== DISPATCH SERVICE ===============================
  /dispatch/{tripId}/accept:
    post:
      tags: [Dispatch]
      summary: Tài xế chấp nhận chuyến được đề xuất
      x-fr: FR-12
      parameters: [{ $ref: "#/components/parameters/TripIdParam" }]
      responses:
        "200": { description: Đã nhận chuyến }
        "409": { description: Chuyến đã được tài xế khác nhận hoặc đã hết hạn }

  /dispatch/{tripId}/decline:
    post:
      tags: [Dispatch]
      summary: Tài xế từ chối chuyến — hệ thống tự tìm tài xế khác
      x-fr: "FR-08, FR-12"
      parameters: [{ $ref: "#/components/parameters/TripIdParam" }]
      responses:
        "200": { description: Đã ghi nhận từ chối, hệ thống tiếp tục tìm tài xế khác }

  /dispatch/{tripId}/candidates:
    get:
      tags: [Dispatch]
      summary: Danh sách tài xế được xét cho 1 chuyến (audit/debug)
      x-fr: "FR-06, FR-07"
      parameters: [{ $ref: "#/components/parameters/TripIdParam" }]
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/DispatchCandidate" }

  # ============================== LOCATION SERVICE ===============================
  /locations:
    post:
      tags: [Location]
      summary: Tài xế gửi vị trí hiện tại
      x-fr: FR-10
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/GeoPoint" }
      responses:
        "200": { description: Đã ghi nhận vị trí }

  /locations/drivers/{id}:
    get:
      tags: [Location]
      summary: Vị trí hiện tại của 1 tài xế
      x-fr: FR-10
      parameters: [{ $ref: "#/components/parameters/IdParam" }]
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties: { data: { $ref: "#/components/schemas/DriverLocation" } }
        "404": { $ref: "#/components/responses/NotFoundError" }

  /locations/nearby-drivers:
    get:
      tags: [Location]
      summary: Tìm tài xế gần 1 tọa độ (Dispatch Service gọi)
      x-fr: FR-06
      parameters:
        - { name: lat, in: query, required: true, schema: { type: number } }
        - { name: lng, in: query, required: true, schema: { type: number } }
        - { name: radiusKm, in: query, schema: { type: number, default: 5 } }
        - { name: driverIds, in: query, description: "danh sách id cách nhau bởi dấu phẩy", schema: { type: string } }
      responses:
        "200":
          description: OK, sắp xếp theo khoảng cách tăng dần
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/NearbyDriver" }

  # ================================ PRICING SERVICE ================================
  /pricing/calculate:
    post:
      tags: [Pricing]
      summary: Tính cước cho 1 chuyến
      x-fr: FR-14
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/FareCalculateRequest" }
      responses:
        "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/FareCalculateResponse" } } } }

  /pricing/rules:
    get:
      tags: [Pricing]
      summary: Xem cấu hình quy tắc tính giá hiện hành
      x-fr: FR-14
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/PricingRule" }

  # ================================ PAYMENT SERVICE ================================
  /payments:
    post:
      tags: [Payment]
      summary: Khởi tạo thanh toán cho 1 chuyến
      x-fr: FR-15
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/PaymentCreateRequest" }
      responses:
        "201": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/PaymentEnvelope" } } } }

  /payments/{id}:
    get:
      tags: [Payment]
      summary: Xem trạng thái giao dịch
      x-fr: FR-15
      parameters: [{ $ref: "#/components/parameters/IdParam" }]
      responses:
        "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/PaymentEnvelope" } } } }
        "404": { $ref: "#/components/responses/NotFoundError" }

  /payments/{id}/retry:
    post:
      tags: [Payment]
      summary: Xử lý lại khi giao dịch điện tử thất bại
      x-fr: FR-16
      parameters: [{ $ref: "#/components/parameters/IdParam" }]
      responses:
        "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/PaymentEnvelope" } } } }
        "409": { description: Giao dịch không ở trạng thái có thể thử lại }

  /payments/webhook:
    post:
      tags: [Payment]
      summary: Callback kết quả từ cổng thanh toán ngoài
      x-fr: "FR-15, FR-16"
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                paymentId: { type: string }
                status: { type: string, enum: [success, failed] }
                providerRef: { type: string }
      responses:
        "200": { description: Đã xử lý callback }

  /customers/me/payments:
    get:
      tags: [Payment]
      summary: Lịch sử thanh toán của khách hàng
      x-fr: FR-05
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/Payment" }

  # ============================= NOTIFICATION SERVICE =============================
  /notifications/me:
    get:
      tags: [Notification]
      summary: Xem lịch sử thông báo đã nhận
      x-fr: "FR-17, FR-18"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/Notification" }

  /notifications/channels:
    post:
      tags: [Notification]
      summary: Đăng ký/kích hoạt thêm kênh thông báo mới
      x-fr: FR-19
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, type]
              properties:
                name: { type: string, example: "Zalo OA" }
                type: { type: string, enum: [push, sms, email, zalo, webhook] }
      responses:
        "201": { description: Đã thêm kênh mới }
        "403": { $ref: "#/components/responses/ForbiddenError" }

  # =============================== ADMIN / REPORTING ===============================
  /admin/trips:
    get:
      tags: [Admin]
      summary: Xem các chuyến (lọc theo trạng thái, ví dụ đang diễn ra)
      x-fr: FR-21
      parameters:
        - { name: status, in: query, schema: { type: string } }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties: { data: { type: array, items: { $ref: "#/components/schemas/Trip" } } }

  /admin/drivers/{id}/status:
    get:
      tags: [Admin]
      summary: Kiểm tra trạng thái 1 tài xế
      x-fr: FR-21
      parameters: [{ $ref: "#/components/parameters/IdParam" }]
      responses:
        "200": { description: OK }

  /admin/trips/{id}/resolve:
    post:
      tags: [Admin]
      summary: Xử lý chuyến gặp sự cố
      x-fr: FR-21
      parameters: [{ $ref: "#/components/parameters/IdParam" }]
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                resolutionNote: { type: string }
      responses:
        "200": { description: Đã xử lý }

  /admin/transactions:
    get:
      tags: [Admin]
      summary: Tra cứu lịch sử giao dịch
      x-fr: FR-21
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties: { data: { type: array, items: { $ref: "#/components/schemas/Payment" } } }

  /admin/customers:
    get:
      tags: [Admin]
      summary: Danh sách khách hàng (quản trị)
      x-fr: FR-20
      responses:
        "200": { description: OK }

  /admin/drivers:
    get:
      tags: [Admin]
      summary: Danh sách tài xế (quản trị)
      x-fr: FR-20
      responses:
        "200": { description: OK }

  /admin/vehicles:
    get:
      tags: [Admin]
      summary: Danh sách phương tiện (quản trị)
      x-fr: FR-20
      responses:
        "200": { description: OK }

  /admin/customers/{id}:
    delete:
      tags: [Admin]
      summary: Khóa/xóa tài khoản khách hàng — thao tác nhạy cảm
      x-fr: FR-22
      parameters: [{ $ref: "#/components/parameters/IdParam" }]
      responses:
        "200": { description: Đã xử lý }
        "403": { $ref: "#/components/responses/ForbiddenError" }

  /admin/reports/trips:
    get:
      tags: [Admin]
      summary: Báo cáo số lượng chuyến
      x-fr: FR-23
      parameters: [{ $ref: "#/components/parameters/FromToParams" }]
      responses:
        "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/ReportValue" } } } }

  /admin/reports/revenue:
    get:
      tags: [Admin]
      summary: Báo cáo doanh thu
      x-fr: FR-23
      parameters: [{ $ref: "#/components/parameters/FromToParams" }]
      responses:
        "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/ReportValue" } } } }

  /admin/reports/completion-rate:
    get:
      tags: [Admin]
      summary: Tỷ lệ hoàn thành chuyến
      x-fr: FR-23
      parameters: [{ $ref: "#/components/parameters/FromToParams" }]
      responses:
        "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/ReportValue" } } } }

  /admin/reports/cancellation-rate:
    get:
      tags: [Admin]
      summary: Tỷ lệ hủy chuyến
      x-fr: FR-23
      parameters: [{ $ref: "#/components/parameters/FromToParams" }]
      responses:
        "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/ReportValue" } } } }

  /admin/reports/driver-performance:
    get:
      tags: [Admin]
      summary: Hiệu quả hoạt động của tài xế
      x-fr: FR-23
      parameters: [{ $ref: "#/components/parameters/FromToParams" }]
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/DriverPerformance" }

# =================================================================================
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  parameters:
    IdParam:
      name: id
      in: path
      required: true
      schema: { type: string, format: uuid }
    TripIdParam:
      name: tripId
      in: path
      required: true
      schema: { type: string, format: uuid }
    FromToParams:
      name: from
      in: query
      schema: { type: string, format: date }

  responses:
    ValidationError:
      description: Dữ liệu đầu vào không hợp lệ
      content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } }
    UnauthorizedError:
      description: Chưa xác thực hoặc token không hợp lệ
      content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } }
    ForbiddenError:
      description: Không có quyền thực hiện thao tác
      content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } }
    NotFoundError:
      description: Không tìm thấy tài nguyên
      content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } }
    ConflictError:
      description: Xung đột dữ liệu (VD email đã tồn tại)
      content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } }

  schemas:
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            code: { type: string, example: "VALIDATION_ERROR" }
            message: { type: string }

    LoginRequest:
      type: object
      required: [email, password]
      properties:
        email: { type: string, format: email }
        password: { type: string, format: password }

    CustomerRegisterRequest:
      allOf:
        - $ref: "#/components/schemas/LoginRequest"
        - type: object
          required: [fullName]
          properties:
            fullName: { type: string }
            phone: { type: string }

    CustomerUpdateRequest:
      type: object
      properties:
        fullName: { type: string }
        phone: { type: string }

    Customer:
      type: object
      properties:
        id: { type: string, format: uuid }
        fullName: { type: string }
        email: { type: string, format: email }
        phone: { type: string, nullable: true }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }

    CustomerEnvelope:
      type: object
      properties: { data: { $ref: "#/components/schemas/Customer" } }

    AuthResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            token: { type: string }
            customer: { $ref: "#/components/schemas/Customer" }

    Vehicle:
      type: object
      required: [plate, model, type]
      properties:
        plate: { type: string, example: "51H-123.45" }
        model: { type: string, example: "Toyota Vios" }
        type: { type: string, enum: ["4-seat", "7-seat", "motorbike"] }

    DriverRegisterRequest:
      allOf:
        - $ref: "#/components/schemas/LoginRequest"
        - type: object
          required: [fullName]
          properties:
            fullName: { type: string }
            phone: { type: string }
            vehicle: { $ref: "#/components/schemas/Vehicle" }

    DriverUpdateRequest:
      type: object
      properties:
        fullName: { type: string }
        phone: { type: string }

    Driver:
      type: object
      properties:
        id: { type: string, format: uuid }
        fullName: { type: string }
        email: { type: string, format: email }
        phone: { type: string, nullable: true }
        vehicle: { $ref: "#/components/schemas/Vehicle" }
        status: { type: string, enum: [offline, available, busy] }
        createdByStaff: { type: boolean }

    DriverEnvelope:
      type: object
      properties: { data: { $ref: "#/components/schemas/Driver" } }

    DriverListEnvelope:
      type: object
      properties: { data: { type: array, items: { $ref: "#/components/schemas/Driver" } } }

    DriverAuthResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            token: { type: string }
            driver: { $ref: "#/components/schemas/Driver" }

    GeoPoint:
      type: object
      required: [lat, lng]
      properties:
        lat: { type: number, format: double, example: 10.7769 }
        lng: { type: number, format: double, example: 106.7009 }
        address: { type: string }

    TripCreateRequest:
      type: object
      required: [pickupLocation, dropoffLocation, vehicleType]
      properties:
        pickupLocation: { $ref: "#/components/schemas/GeoPoint" }
        dropoffLocation: { $ref: "#/components/schemas/GeoPoint" }
        vehicleType: { type: string, enum: ["4-seat", "7-seat", "motorbike"] }

    TripStatus:
      type: string
      enum:
        - requested
        - finding_driver
        - no_driver_found
        - driver_assigned
        - arrived
        - picked_up
        - in_progress
        - completed
        - cancelled

    Trip:
      type: object
      properties:
        id: { type: string, format: uuid }
        customerId: { type: string, format: uuid }
        driverId: { type: string, format: uuid, nullable: true }
        pickupLocation: { $ref: "#/components/schemas/GeoPoint" }
        dropoffLocation: { $ref: "#/components/schemas/GeoPoint" }
        vehicleType: { type: string }
        status: { $ref: "#/components/schemas/TripStatus" }
        fareAmount: { type: number, nullable: true }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }

    TripEnvelope:
      type: object
      properties: { data: { $ref: "#/components/schemas/Trip" } }

    TripListEnvelope:
      type: object
      properties: { data: { type: array, items: { $ref: "#/components/schemas/Trip" } } }

    DispatchCandidate:
      type: object
      properties:
        driverId: { type: string, format: uuid }
        distanceKm: { type: number }
        offeredAt: { type: string, format: date-time }
        result: { type: string, enum: [pending, accepted, declined, timeout] }

    DriverLocation:
      type: object
      properties:
        driverId: { type: string, format: uuid }
        lat: { type: number }
        lng: { type: number }
        updatedAt: { type: string, format: date-time }

    NearbyDriver:
      allOf:
        - $ref: "#/components/schemas/DriverLocation"
        - type: object
          properties: { distanceKm: { type: number } }

    FareCalculateRequest:
      type: object
      required: [vehicleType, distanceKm, durationMin]
      properties:
        vehicleType: { type: string }
        distanceKm: { type: number }
        durationMin: { type: number }

    FareCalculateResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            amount: { type: number }
            currency: { type: string, example: VND }
            breakdown:
              type: object
              properties:
                baseFare: { type: number }
                perKm: { type: number }
                perMinute: { type: number }

    PricingRule:
      type: object
      properties:
        vehicleType: { type: string }
        baseFare: { type: number }
        perKmRate: { type: number }
        perMinuteRate: { type: number }

    PaymentCreateRequest:
      type: object
      required: [tripId, method]
      properties:
        tripId: { type: string, format: uuid }
        method: { type: string, enum: [cash, e-wallet, card] }

    Payment:
      type: object
      properties:
        id: { type: string, format: uuid }
        tripId: { type: string, format: uuid }
        method: { type: string, enum: [cash, e-wallet, card] }
        amount: { type: number }
        status: { type: string, enum: [pending, success, failed] }
        providerRef: { type: string, nullable: true, description: "Tham chiếu phía cổng thanh toán ngoài, không lưu số thẻ" }
        createdAt: { type: string, format: date-time }

    PaymentEnvelope:
      type: object
      properties: { data: { $ref: "#/components/schemas/Payment" } }

    Notification:
      type: object
      properties:
        id: { type: string, format: uuid }
        userId: { type: string, format: uuid }
        channel: { type: string }
        title: { type: string }
        body: { type: string }
        sentAt: { type: string, format: date-time }

    RatingCreateRequest:
      type: object
      required: [score]
      properties:
        score: { type: integer, minimum: 1, maximum: 5 }
        comment: { type: string }

    Rating:
      type: object
      properties:
        tripId: { type: string, format: uuid }
        driverId: { type: string, format: uuid }
        score: { type: integer }
        comment: { type: string, nullable: true }
        createdAt: { type: string, format: date-time }

    RatingEnvelope:
      type: object
      properties: { data: { $ref: "#/components/schemas/Rating" } }

    RatingListEnvelope:
      type: object
      properties:
        data:
          type: object
          properties:
            averageScore: { type: number }
            ratings: { type: array, items: { $ref: "#/components/schemas/Rating" } }

    ReportValue:
      type: object
      properties:
        data:
          type: object
          properties:
            from: { type: string, format: date }
            to: { type: string, format: date }
            value: { type: number }

    DriverPerformance:
      type: object
      properties:
        driverId: { type: string, format: uuid }
        totalTrips: { type: integer }
        completionRate: { type: number }
        averageRating: { type: number }
