# File này được tách tự động từ cab-system-openapi.yaml gốc — KHÔNG chỉnh sửa file gốc nữa.
openapi: 3.0.3
info:
  title: CAB System API
  version: 1.0.0
  description: >
    Đặc tả OpenAPI cho toàn bộ 23 yêu cầu chức năng (FR) của dự án CAB System. Mỗi operation gắn
    thêm trường mở rộng `x-fr` để truy vết ngược lại FR trong tài liệu phân tích BA. Client luôn gọi
    qua API Gateway; các service phía sau (customer, driver, trip, dispatch, location, pricing,
    payment, notification, admin) không được gọi trực tiếp từ bên ngoài.
servers:
  - url: https://api.cabsystem.com/api/v1
    description: Production (qua API Gateway)
  - url: http://localhost:3000/api/v1
    description: Local dev (qua API Gateway)
tags:
  - name: Customer
    description: Customer Service — FR-01
  - name: Driver
    description: Driver Service — FR-02, FR-11
  - name: Trip
    description: Trip Service — FR-03, FR-04, FR-05, FR-13
  - name: Dispatch
    description: Dispatch Service — FR-06..FR-09, FR-12
  - name: Location
    description: Location Service — FR-10
  - name: Pricing
    description: Pricing Service — FR-14
  - name: Payment
    description: Payment Service — FR-15, FR-16
  - name: Notification
    description: Notification Service — FR-17..FR-19
  - name: Rating
    description: Đánh giá tài xế — phần cuối FR-05
  - name: Admin
    description: Admin/Reporting Service — FR-20..FR-23
security:
  - bearerAuth: []
paths:
  /customers/register:
    $ref: paths/customer-service.yaml#/~1customers~1register
  /customers/login:
    $ref: paths/customer-service.yaml#/~1customers~1login
  /customers/me:
    $ref: paths/customer-service.yaml#/~1customers~1me
  /customers/{id}:
    $ref: paths/customer-service.yaml#/~1customers~1{id}
  /drivers/register:
    $ref: paths/driver-service.yaml#/~1drivers~1register
  /drivers:
    $ref: paths/driver-service.yaml#/~1drivers
  /drivers/login:
    $ref: paths/driver-service.yaml#/~1drivers~1login
  /drivers/me:
    $ref: paths/driver-service.yaml#/~1drivers~1me
  /drivers/me/vehicle:
    $ref: paths/driver-service.yaml#/~1drivers~1me~1vehicle
  /drivers/me/status:
    $ref: paths/driver-service.yaml#/~1drivers~1me~1status
  /drivers/{id}:
    $ref: paths/driver-service.yaml#/~1drivers~1{id}
  /drivers/{id}/ratings:
    $ref: paths/trip-service.yaml#/~1drivers~1{id}~1ratings
  /trips:
    $ref: paths/trip-service.yaml#/~1trips
  /trips/{id}:
    $ref: paths/trip-service.yaml#/~1trips~1{id}
  /trips/{id}/status:
    $ref: paths/trip-service.yaml#/~1trips~1{id}~1status
  /trips/{id}/cancel:
    $ref: paths/trip-service.yaml#/~1trips~1{id}~1cancel
  /trips/{id}/rating:
    $ref: paths/trip-service.yaml#/~1trips~1{id}~1rating
  /customers/me/trips:
    $ref: paths/trip-service.yaml#/~1customers~1me~1trips
  /drivers/me/trips:
    $ref: paths/trip-service.yaml#/~1drivers~1me~1trips
  /dispatch/{tripId}/accept:
    $ref: paths/dispatch-service.yaml#/~1dispatch~1{tripId}~1accept
  /dispatch/{tripId}/decline:
    $ref: paths/dispatch-service.yaml#/~1dispatch~1{tripId}~1decline
  /dispatch/{tripId}/candidates:
    $ref: paths/dispatch-service.yaml#/~1dispatch~1{tripId}~1candidates
  /locations:
    $ref: paths/location-service.yaml#/~1locations
  /locations/drivers/{id}:
    $ref: paths/location-service.yaml#/~1locations~1drivers~1{id}
  /locations/nearby-drivers:
    $ref: paths/location-service.yaml#/~1locations~1nearby-drivers
  /pricing/calculate:
    $ref: paths/pricing-service.yaml#/~1pricing~1calculate
  /pricing/rules:
    $ref: paths/pricing-service.yaml#/~1pricing~1rules
  /payments:
    $ref: paths/payment-service.yaml#/~1payments
  /payments/{id}:
    $ref: paths/payment-service.yaml#/~1payments~1{id}
  /payments/{id}/retry:
    $ref: paths/payment-service.yaml#/~1payments~1{id}~1retry
  /payments/webhook:
    $ref: paths/payment-service.yaml#/~1payments~1webhook
  /customers/me/payments:
    $ref: paths/payment-service.yaml#/~1customers~1me~1payments
  /notifications/me:
    $ref: paths/notification-service.yaml#/~1notifications~1me
  /notifications/channels:
    $ref: paths/notification-service.yaml#/~1notifications~1channels
  /admin/trips:
    $ref: paths/admin-service.yaml#/~1admin~1trips
  /admin/drivers/{id}/status:
    $ref: paths/admin-service.yaml#/~1admin~1drivers~1{id}~1status
  /admin/trips/{id}/resolve:
    $ref: paths/admin-service.yaml#/~1admin~1trips~1{id}~1resolve
  /admin/transactions:
    $ref: paths/admin-service.yaml#/~1admin~1transactions
  /admin/customers:
    $ref: paths/admin-service.yaml#/~1admin~1customers
  /admin/drivers:
    $ref: paths/admin-service.yaml#/~1admin~1drivers
  /admin/vehicles:
    $ref: paths/admin-service.yaml#/~1admin~1vehicles
  /admin/customers/{id}:
    $ref: paths/admin-service.yaml#/~1admin~1customers~1{id}
  /admin/reports/trips:
    $ref: paths/admin-service.yaml#/~1admin~1reports~1trips
  /admin/reports/revenue:
    $ref: paths/admin-service.yaml#/~1admin~1reports~1revenue
  /admin/reports/completion-rate:
    $ref: paths/admin-service.yaml#/~1admin~1reports~1completion-rate
  /admin/reports/cancellation-rate:
    $ref: paths/admin-service.yaml#/~1admin~1reports~1cancellation-rate
  /admin/reports/driver-performance:
    $ref: paths/admin-service.yaml#/~1admin~1reports~1driver-performance
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
